.app-container{
    display: flex;
}
.content{
    width: 100%;
}
.sidebar{
    min-height: 800px;
}
.post-card{
    margin: 20px 50px;

}
.hashtag{
    margin: 0px 4px;
}
.reactions{
    margin: 15px 0 0 0 ;
}
.create-post{
    margin-top: 50px;
    margin-left: 10%;
    width: 50%;
}
.welcome-message{
    margin: 100px 0;
}